<div class="account-title">
  <span class="material-symbols-outlined title-symbol">person_add</span>
  <h1 class="title">アカウント作成</h1>
</div>
<br>
<div class="card-list">
  <a routerLink="register_mail">
    <mat-card class="card">
      <div class="card-header">
        <span class="material-symbols-outlined">mail</span>

        <mat-card-header>
          <mat-card-title>メールアカウント作成</mat-card-title>
          <mat-card-subtitle>安永研メールアドレスの作成</mat-card-subtitle>
        </mat-card-header>
      </div>

      <mat-card-content>
        @mail.yasunaga-lab.kyutech.ac.jpのメールアドレスを発行します。
      </mat-card-content>
    </mat-card>
  </a>
  <a routerLink="register_cs">
    <mat-card class="card">
      <div class="card-header">
        <span class="material-symbols-outlined">dns</span>

        <mat-card-header>
          <mat-card-title>計算機アカウント作成</mat-card-title>
          <mat-card-subtitle>CSマシン（LDAP）アカウントの作成</mat-card-subtitle>
        </mat-card-header>
      </div>

      <mat-card-content>
        計算機サーバー用のLDAPアカウントを作成します。
      </mat-card-content>
    </mat-card>
  </a>

  <a href="http://192.168.4.250/dashboard/" target="_blank">
    <mat-card class="card">
      <div class="card-header">
        <span class="material-symbols-outlined">vpn_key</span>

        <mat-card-header>
          <mat-card-title>VPNアカウント作成</mat-card-title>
          <mat-card-subtitle>VPN (192.168.4.x) アカウントの作成</mat-card-subtitle>
        </mat-card-header>
      </div>

      <mat-card-content>
        安永研ネットワークのVPNアカウントを作成します。
        ※アカウント発行にはルーターログインが必要です。
      </mat-card-content>
    </mat-card>
  </a>

  <a href="https://admin.google.com/ac/home" target="_blank">
    <mat-card class="card">
      <div class="card-header">
        <span class="material-symbols-outlined">manage_accounts</span>

        <mat-card-header>
          <mat-card-title>Googleアカウント作成</mat-card-title>
          <mat-card-subtitle>G suiteアカウントの作成</mat-card-subtitle>
        </mat-card-header>
      </div>

      <mat-card-content>
        安永研メールを利用して、Gsuiteアカウントを作成します。
        ※ アカウント作成にはGoogle console管理者権限が必要です。
      </mat-card-content>
    </mat-card>
  </a>

  <!--  <a href="http://192.168.6.252/dashboard/" target="_blank">-->
  <!--    <mat-card class="card">-->
  <!--      <div class="card-header">-->
  <!--        <span class="material-symbols-outlined">vpn_key</span>-->

  <!--        <mat-card-header>-->
  <!--          <mat-card-title>VPNアカウント作成</mat-card-title>-->
  <!--          <mat-card-subtitle>VPN (192.168.6.x) アカウントの作成</mat-card-subtitle>-->
  <!--        </mat-card-header>-->
  <!--      </div>-->

  <!--      <mat-card-content>-->
  <!--        CREST-VPNアカウントを作成します。主にCS09利用向け。-->
  <!--        ※アカウント発行にはルーターログインが必要です。-->
  <!--      </mat-card-content>-->
  <!--    </mat-card>-->
  <!--  </a>-->
</div>
