<div>
  <div class="account-title">
    <span class="material-symbols-outlined title-symbol">dns</span>
    <h1 class="title">計算機アカウント作成</h1>
  </div>
  <br>
  <br>
  <div>
    <h3>フォームに入力してください</h3>
    <div *ngIf="infoInvalid" class="error-message">
      <p>不正な箇所があります。</p>
    </div>
    <div>
      <table class="form-table">
        <tr>
          <td>
            <p>姓</p>
            <mat-form-field hintLabel="ex) YASUNAGA" appearance="fill">
              <mat-label>Last name</mat-label>
              <input matInput [formControl]="ldap.lastName" required>
              <mat-error *ngIf="ldap.lastName.invalid">{{ ldap.lastNameError }}</mat-error>
            </mat-form-field>
          </td>
          <td>
            <p>名</p>
            <mat-form-field hintLabel="ex) Takuo" appearance="fill">
              <mat-label>First name</mat-label>
              <input matInput [formControl]="ldap.firstName" required>
              <mat-error *ngIf="ldap.firstName.invalid">{{ ldap.firstNameError }}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <p>アカウント名</p>
            <mat-form-field hintLabel="ex) tacyas" appearance="fill">
              <mat-label>Account name</mat-label>
              <input matInput [formControl]="ldap.accountName" required>
              <mat-error *ngIf="ldap.accountName.invalid">{{ ldap.accountNameError }}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <p>パスワード</p>
            <mat-form-field hintLabel="英数字・記号を含む8文字以上" appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [formControl]="ldap.password" required>
              <mat-error *ngIf="ldap.password.invalid">{{ ldap.passwordError }}</mat-error>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </td>
        </tr>
        <br>
        <tr class="button-area">
          <td colspan="2">
            <button mat-raised-button class="register-button" (click)="register()">登録</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
