<div>
  <p class="related-sites">関連サイト</p>
</div>

<mat-list role="list">
  <div class="related-site">
    <a href="https://www.yasunaga-lab.bio.kyutech.ac.jp/ja/" target="_blank">
      <mat-list-item role="listitem" class="title">安永研究室 HP</mat-list-item>
    </a>
    <p class="description">安永研究室のホームページ</p>
    <a
      href="https://www.yasunaga-lab.bio.kyutech.ac.jp/ja/howto/%e8%ab%96%e6%96%87%e3%81%ae%e6%9b%b8%e3%81%8d%e6%96%b9/"
      target="_blank">
      <p class="description" style="text-decoration: underline">卒業論文・修士論文の書き方</p>
    </a>
  </div>

  <div class="related-site">
    <a href="https://www.yasunaga-lab.bio.kyutech.ac.jp/EosJ/index.php/" target="_blank">
      <mat-list-item role="listitem" class="title">Eospedia</mat-list-item>
    </a>
    <p class="description">電子顕微鏡画像処理システムEosのホームページ</p>
  </div>

  <div class="related-site">
    <a href="https://osdn.net/projects/eos/" target="_blank">
      <mat-list-item role="listitem" class="title">Eos repository</mat-list-item>
    </a>
    <p class="description">電子顕微鏡画像処理システムEosのレポジトリ</p>
  </div>

  <div class="related-site">
    <a href="https://github.com/yasunaga-lab" target="_blank">
      <mat-list-item role="listitem" class="title">Github</mat-list-item>
    </a>
    <p class="description">安永研究室のGithub</p>
    <p class="description">レポジトリ閲覧にはメンバー登録が必要</p>
  </div>

</mat-list>
