<div class="index-area">
  <h1>インデックス</h1>
  <div class="indexes">
    <ul>
      <li class="index-item"><a href="/descriptions#landisk">Landisk</a>
      <li class="index-item"><a href="/descriptions#account">アカウント</a>
      <li class="index-item"><a href="/descriptions#calendar">カレンダー</a>
    </ul>
  </div>
</div>
<div>
  <h1 id="landisk">Landisk</h1>
  <mat-divider></mat-divider>
  <div class="description-area">
    <h3>◯　アクセス方法</h3>
    <div class="description">
      <p>過去の先輩の論文や学会資料、各種マニュアル等が置かれているファイルサーバーです。</p>
      <h3>Macの場合</h3>
      <p class="concrete">1. Finderアプリから、移動 ＞ サーバーへ接続</p>
      <p class="concrete">2. 「smb://192.168.4.27」もしくは「smb://fs07.lan.yasunaga-lab.bio.kyutech.ac.jp」を入力し、接続</p>
      <p class="concrete">3. ゲストユーザーで接続</p>
      <h3>Windowsの場合</h3>
      <p class="concrete">1. エクスプローラーを開く。</p>
      <p class="concrete">2. アドレスバーに「\\192.168.4.27」もしくは「\\fs07.lan.yasunaga-lab.bio.kyutech.ac.jp」を入力し、接続</p>
      <p class="concrete">3. Guest, パスワードなしで接続</p>
    </div>
  </div>

  <h1 id="account">アカウント</h1>
  <mat-divider></mat-divider>

  <div class="description-area">
    <h3>◯　メールアカウント作成</h3>
    <div class="description">
      <p>@yasunaga-lab.bio.kyutech.ac.jpのメールアカウントです。送受信に安永研LAN内に接続していることが必要です。</p>
      <p>メールアカウント設定方法は、Landiskのマニュアルフォルダ内にあるメールアカウント設定の方法を参照ください。</p>
      <h3>手順</h3>
      <p class="concrete">
        1. <a href="/account">Account</a>
        から登録可能です</p>
    </div>
  </div>
  <div class="description-area">
    <h3>◯　計算機アカウント作成</h3>
    <div class="description">
      <p>安永研究室が所有しているCPU・GPUマシンの為のLDAPアカウントの発行です。発行後、SSHによるアクセスが可能です。</p>
      <p>詳細なアクセス方法は、Landiskのマニュアルフォルダ内にある計算機利用の方法を参照ください。</p>
      <h3>手順</h3>
      <p class="concrete">
        1. <a href="/account">Account</a>
        から登録可能です</p>
    </div>
  </div>

  <div class="description-area">
    <h3>◯　安永研VPN アカウント作成</h3>
    <div class="description">
      <p>安永研究室ネットワークのVPNアカウントです。</p>
      <p class="note">※ ルーターへの直接ログインなので可能な限り計算機係がアカウントを発行を行ってください。</p>
      <p class="note">※ ルーター(4.250)へのアクセスは、既にVPNアカウントを持っているユーザーが行うか、安永研究室ネットワークへの無線接続が必要です。</p>
      <h3>手順</h3>
      <p class="concrete">1. 192.168.4.250にアクセス</p>
      <p class="concrete">2. かんたん設定 ＞ VPN ＞ リモートアクセス</p>
      <p class="concrete">3. 設定の項目から「登録ユーザーの追加、変更を行います。」を選択</p>
      <p class="concrete">4. ユーザー名とパスワードを追加し、「次へ」、「設定の確定」</p>
    </div>
  </div>

  <div class="description-area">
    <h3>◯　CREST-VPNアカウント作成</h3>
    <div class="description">
      <p>動画像処理システムとして外部利用もされているネットワーク、および計算機(cs09)へのアクセスのためのVPNアカウントです。</p>
      <p class="note">※ ルーターへの直接ログインなので可能な限り計算機係がアカウントを発行を行ってください。</p>
      <p class="note">※ ルーター(6.252)へのアクセスは、既にVPNアカウントを持っているユーザーが行うか、ルーター実機へのLAN有線接続です。</p>
      <h3>手順</h3>
      <p class="concrete">1. 192.168.6.252にアクセス</p>
      <p class="concrete">2. かんたん設定 ＞ VPN ＞ リモートアクセス</p>
      <p class="concrete">3. 設定の項目から「登録ユーザーの追加、変更を行います。」を選択</p>
      <p class="concrete">4. ユーザー名とパスワードを追加し、「次へ」、「設定の確定」</p>
    </div>
  </div>

  <h1 id="calendar">カレンダー</h1>
  <mat-divider></mat-divider>
  <div class="description-area">
    <h3>◯　設定方法</h3>
    <div class="description">
      <p>研究室の予定、各種計測機器、計算機の予約、先生の予定把握などのためのカレンダーです。</p>
      <p class="note">※ 安永研メールアドレス発行後、そのメールアドレスでのGoogle(G suite)アカウント作成済みであることが前提です。</p>
      <h3>カレンダー追加</h3>
      <p class="concrete">1. Googleにログイン。カレンダーアプリを開く</p>
      <p class="concrete">2. 他のカレンダーを追加 ＞ リソースをブラウジング</p>
      <p class="concrete">3. 関心のあるカレンダーのチェックボックスをチェックする</p>

      <h3>カレンダー追加</h3>
      <p class="concrete">1. 他のカレンダーを追加 ＞ URLで追加</p>
      <div class="text_with_button">
        <p class="concrete">安永先生</p>
        <span class="material-symbols-outlined copy_button" *ngIf="!clipped_yasu"
              (click)="copyClipboard(yasunaga_ics, 'yasu')">content_copy</span>
        <span class="material-symbols-outlined check_button" *ngIf="clipped_yasu"
              (click)="copyClipboard(yasunaga_ics, 'yasu')">check</span>
        <p class="clipped" *ngIf="clipped_yasu">clipped!</p>
      </div>
      <p class="concrete">{{yasunaga_ics}}</p>

      <div class="text_with_button">
        <p class="concrete">森本先生</p>
        <span class="material-symbols-outlined copy_button" *ngIf="!clipped_mori"
              (click)="copyClipboard(morimoto_ics, 'mori')">content_copy</span>
        <span class="material-symbols-outlined check_button" *ngIf="clipped_mori"
              (click)="copyClipboard(morimoto_ics, 'mori')">check</span>
        <span class="clipped" *ngIf="clipped_mori">clipped!</span>
      </div>
      <p class="concrete">{{morimoto_ics}}</p>


    </div>


  </div>
</div>
